@model List<PiasWebsite.Models.Gehege>
@{
	ViewBag.Title = "Gehege";
}

<h2>Gehege</h2> <br />

	@Html.ActionLink("Gehege hinzufügen", "Create", "Gehege", new object { }, new { @class = "btn btn-success" })

<ul class="ZooListe">

	@for (int i = 0; i < Model.Count; i++)
	{
		<li style="color: #008000">
			Gehege: @Model[i].GehegeArt <br />
			Tier: @Model[i].Tier <br />
		</li>

	}

</ul>