@model PiasWebsite.Models.Mitarbeiter
@{
	ViewBag.Title = "Mitarbeiter";
}

<h2>Mitarbeiter<br /></h2>

<form method="post">
	<div class="form-group">
		<label for="Name">Name</label>
		<input type="text" class="form-control" id="Name" placeholder="Name" name="Name">
	</div>
	<div class="form-group">
		<label for="Gehalt">Gehalt</label>
		<input type="number" class="form-control" id="Gehalt" placeholder="Gehalt" name="Gehalt">
	</div>
	<div class="form-group">
		<label for="Geschlecht">Geschlecht</label>
		<select class="form-control" id="Geschlecht" name="Geschlecht">
			<option value="m">männlich</option>
			<option value="w">weiblich</option>
		</select>
	</div>
	<button type="submit" class="btn btn-default">Speichern</button>

</form>
