@model List<PiasWebsite.Models.Mitarbeiter>
@{
	ViewBag.Title = "Mitarbeiter";
}

<h2>Mitarbeiter</h2> <br />

	@Html.ActionLink("Mitarbeiter hinzufügen", "Create", "Mitarbeiter", new object { }, new { @class = "btn btn-warning" })

<ul class="ZooListe">
	@for (int i = 0; i < Model.Count; i++)
	{
		<li>
			Name: @Model[i].Name <br />
			Geschlecht: @Model[i].Geschlecht <br />
			Gehalt: @Model[i].Gehalt € <br />
		</li>

	}

</ul>
