@model PiasWebsite.Models.Tier
@{
	ViewBag.Title = "Tier";
}

<h2>Tier<br/></h2>

<form method="post">

	<div class="form-group">
		<label for="Tierart">Tierart</label>
		<input type="text" class="form-control" id="Tierart" placeholder="Tierart" name="Tierart">
	</div>
	<div class="form-group">
		<label for="Name">Name</label>
		<input type="text" class="form-control" id="Name" placeholder="Name" name="Name">
	</div>
	<div class="form-group">
		<label for="Groesse">Groesse</label>
		<input type="number" class="form-control" id="Groesse" placeholder="Groesse" name="Groesse">
	</div>
	<div class="form-group">
		<label for="Gewicht">Gewicht</label>
		<input type="number" class="form-control" id="Gewicht" placeholder="Gewicht" name="Gewicht">
	</div>
	<div class="form-group">
		<label for="Herkunft">Herkunft</label>
		<input type="text" class="form-control" id="Herkunft" placeholder="Herkunft" name="Herkunft">
	</div>
	<div class="form-group">
	<label for="Geschlecht">Geschlecht</label>
	<select class="form-control" id="Geschlecht" name="Geschlecht">
		<option value="m">männlich</option>
		<option value="w">weiblich</option>
		<option value="a">andere</option>
	</select>
	</div>
	<button type="submit" class="btn btn-default">Speichern</button>

</form>
